body {
  font-family: "Montserrat";
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

.navbar-brand {
  font-family: "Passion One";
  font-size: xx-large;
  color: white;
}

.navbar-header {
  background-color: red;
}

/* My standard vertical spacing classes */

.padding-inside-top-xs {
  padding-top: 10px;
}

.padding-inside-top-sm {
  padding-top: 20px;
}

.padding-inside-top-md {
  padding-top: 50px;
}

.padding-inside-top-lg {
  padding-top: 150px;
}

.padding-inside-top-xl {
  padding-top: 200px;
}

.padding-inside-bottom-xs {
  padding-bottom: 10px;
}

.padding-inside-bottom-sm {
  padding-bottom: 20px;
}

.padding-inside-bottom-md {
  padding-bottom: 50px;
}

.padding-inside-bottom-lg {
  padding-bottom: 150px;
}

.padding-inside-bottom-xl {
  padding-bottom: 200px;
}

.margin-above-top-xs {
  margin-top: 10px;
}

.margin-above-top-sm {
  margin-top: 20px;
}

.margin-above-top-md {
  margin-top: 50px;
}

.margin-above-top-lg {
  margin-top: 150px;
}

.margin-below-bottom-xs {
  margin-bottom: 10px;
}

.margin-below-bottom-sm {
  margin-bottom: 20px;
}

.margin-below-bottom-md {
  margin-bottom: 50px;
}

.margin-below-bottom-lg {
  margin-bottom: 150px;
}

.margin-below-bottom-xl {
  margin-bottom: 200px;
}

/* Horizontal spacing */

.padding-inside-left-xs {
  padding-left: 10px;
}

.padding-inside-left-sm {
  padding-left: 20px;
}

.padding-inside-left-md {
  padding-left: 50px;
}

.padding-inside-left-lg {
  padding-top: 150px;
}

.padding-inside-left-xl {
  padding-top: 200px;
}

.padding-inside-right-xs {
  padding-right: 10px;
}

.padding-inside-right-sm {
  padding-right: 20px;
}

.padding-inside-right-md {
  padding-right: 50px;
}

.padding-inside-right-lg {
  padding-right: 150px;
}

.padding-inside-right-xl {
  padding-right: 200px;
}

.img-circle-large {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

 .img-circle-small {
   height: 50px;
   width: 50px;
   border-radius: 25px;
 }

 .img-badge {
   width: 49%;
   height: 60px;
 }

.img-banner {
  width: 100%;
  height: 275px;
}

.static {
    position: absolute;
}

.text-white {
  color: white;
}

.row {
  clear:both;
}

.row-gray {
  background-color: gray;
}

.row-light-gray {
  background-color: rgb(238, 238, 238);
}

.row-purple {
  background-color: rgb(50, 50, 170);
}

.row-red {
  background-color: red;
}
.vcenter {
  vertical-align: middle;
}

.navbar .navbar-default .navbar-fixed-top {
  color: white;
}

.btn.btn-link {
  color: white;
}

.btn.btn-link:hover {
  color: white;
}

.font-14 {
  font-size: 14px;
}

.font-19 {
  font-size: 19px;
}
